 body {
     background-image: url("https://cdn.pixabay.com/photo/2016/11/21/18/18/tiles-1846980_1280.jpg");
     margin: 0;
     font-family: Vina Sans;
     float: center;
     font-size: 200px
 }

 #heading {
     font-family: Vina Sans;
     float: center;
     font-size: 75px;
     color: whitesmoke;
     border-color: black;
     margin-left: 400px
 }

 #level {
     float: center;
     font-size: 25px;
     list-style-type: none;
     letter-spacing: 10px;
     margin-left: 450px
 }

 .squares {
     margin: 48px auto;
     width: max-content;
     display: grid;
     grid-template-columns: repeat(4, 75px);
     gap: 16px;
     height: 75px;
     background: #3f202b;
     border: 5px solid #2e0438;
 }

 .square {
     height: 75px;
     background: #525949;
     border: 5px solid #242222;
     cursor: pointer;
 }